@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    min-height: 100vh;
    background: linear-gradient(#130c23, #050d43);
}
body {
    font-family: 'Inter', sans-serif;
    color: #e0e0e0;
    padding: 5vh 5vw 10vh;
    line-height: 1.6;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
picture {
    display: contents;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: -10px 10px 30px #0a0613;
    margin-bottom: 26px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-wrap: balance;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-wrap: balance;
    font-weight: 400;
    color: #ffffff;
}

p.subtitle {
    font-size: 22px;
    font-weight: 300;
    color: #c9c7c7;
    text-align: center;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto 40px;
    text-wrap: balance;
}
footer {
    text-align: center;
    margin-top: auto;
    width: 100%;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    background-color: #6f1c85;
    color: #ffffff;
    padding: 14px 32px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(138, 43, 226, 0.4);
}

.btn i {
    color: #ffffff;
    font-size: 18px;
}

.btn:hover {
    background-color: #9d4edd;
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(157, 78, 221, 0.6);
    color: #ffffff;
}



@media screen and (max-width: 500px) {
    figure {
        margin: 0;
        width: 100%;
        align-items: flex-start;
    }
    figcaption {
        text-align: left;
        line-height: 24px;
    }
    figcaption br {
        display: block;
    }
    img {
        width: 200px;
        height: 200px;
    }
    h1 {
        font-size: 36px;
        text-align: left;
    }
    h1 br {
        display: none;
    }
    p.subtitle {
        font-size: 18px;
        text-align: left;
    }
    footer {
        text-align: left;
    }
}